$primary-color: #FFEFE7;
$secondary-color: #BABD8D;
$tertiary-color: #FFDAC6;
$quaternary-color: #FA9500;

$primary-text: #7C6A0A;
$secondary-text: #E86424;

$font-stock:'IBM Plex Sans', sans-serif;

// Mixins
@mixin flexCenter($direction:null, $content:null, $align:null,$wrap:null ){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
    flex-wrap:$wrap;
}



body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-stock;
    min-width: 320px;
    width: 100%;
    height: 100vh;
    background-color: $primary-color;
}
.header p, .hero p,h3,h2, h1, .healthcare-container p, .home-decoration-container p{
    color: $primary-text;
}
h3{
    font-size: 22px;
}
.header{
    min-width: 320px;
    filter: invert(39%) sepia(62%) saturate(846%) hue-rotate(19deg) brightness(87%) contrast(92%);
    .header__nav{
        @include flexCenter(null,space-between, center );
        width: 80%;
        margin: 0 auto;
        p{
            font-size: 20px;
            color: red
        }
        .header__icons--bg{
            display: none;
            a{
                text-decoration: none;
            }
        }
    }
}
.hero{
    .hero__main-content{
        width: 80%;
        min-width: 288px;
        margin: 0 auto;
        @include flexCenter ( column);

        div{
            @include flexCenter(column)
        }
    }
    img{
        object-fit: cover;
        border-radius: 21px;
        width: 100%;
    }
    h1{
        font-size: 28px;
    }
    a{
        color: white;
        background-color: $quaternary-color;
        padding: 10px;
        width: 124px;
        display: inline-block;
        border-radius: 45px;
        text-align: center;
        text-decoration: none;
        align-self: center;
        margin-block: 12px 24px;
    }
}
section{
    .healthcare-container{
        width: 80%;
        margin: 0 auto;
        .healthcare-container h3{
            margin-block-end: 31px;
        }
        .healthcare-container__cards-container--flex{
            @include flexCenter(row);
            gap: 27px;
            overflow-x: scroll;
            .healthcare-container__cards{
                width: max-content;
                .healthcare-container__card{
                    width: 210px;
                    position: relative;
                    background-color: $tertiary-color;
                    border-radius: 5px;
                    height: 329px;
                    padding-block-end: 34px;
                    .heart-img{
                        width: 22px;
                        position: absolute;
                        right: 8px;
                        top: 8px;
                        filter: invert(39%) sepia(62%) saturate(846%) hue-rotate(19deg) brightness(87%) contrast(92%);
                    }
                    .healthcare-container__main-content{
                        width: 132px;
                        margin: auto;
                        .healthcare-container__img{
                            margin-block-start: 31px;
                            width: 132px;
                            border-radius: 6px;
                        }
                        .healthcare-container__info-container{
                            padding-block-end: 26px;
                            font-size: 14px;
                            color: $primary-text;
                            .healthcare-container span{
                                font-weight: 700;
                            }
                        }
                    }
                }    
            }
        }
    }
    .home-decoration-container{
        @extend .healthcare-container;
    }
}
// .home-decoration-container{
//     width: 80%;
//     margin: 61px auto 0;
//     .home-decoration-container__cards-container--flex{
//         @include flexCenter(row);
//         gap: 27px;
//         overflow-x: scroll;
//         margin-block-start: 31px;

//         .home-decoration-container__cards{
//             width: max-content;
//         }

//         .home-decoration-container__card{
//             width: 210px;
//             position: relative;
//             background-color: $secondary-color;
//             border-radius: 5px;
//             height: 52vh;
//             padding-block-end: 24px;

//             .heart-img{
//                 width: 22px;
//                 position: absolute;
//                 right: 8px;
//                 top: 8px;
//                 filter: invert(100%) sepia(0%) saturate(0) hue-rotate(9deg) brightness(50) contrast(100%);
//             }

//             .home-decoration-container__main-content {
//                 width: 132px;
//                 margin: auto;


//                 .home-decoration-container__img{
//                     margin-block-start: 31px;
//                     width: 132px;
//                     border-radius: 6px;
//                 }
//                 .home-decoration-container__info-container{
//                     padding-block-end: 26px;
//                     font-size: 14px;
//                     color: white;

//                     .home-decoration-container span{
//                         font-weight: 700;
//                     }
                    
//                 }
                
//             }
            
            
//         }
        
//     }
    
// }
.about-us{
    width: 80%;
    margin: 0 auto;
    min-width: 320px;
    .about-us h3{
        margin: 60px 0 83px  33px;
        
    }
    .about-us__main-container{
        @include flexCenter(column, center, center);
        img:first-child{
            width: 71px;
        }
        #lightbulb-img{
            margin-block-start: 65px;
            height: 88px;
        }
        p{
            color: $secondary-text;
            text-align: center;
        }
    }
}
.galery-style{
    width: 90%;
    margin: 0 auto;
    .galery-style__imgs-container{
        display: flex;
        flex-direction: column;
        gap: 64px;
        margin-block-end: 61px;

        img{
            width: auto;
            border-radius: 15px;
            object-fit: cover;
        }
    }
}
.location{
    width: max-content;
    margin: 0 auto;
    margin-block-end: 95px;

    h3{
        margin-block-start: 0;
    }
    img{
        border-radius: 10px;
        margin-block: 36px 44px;
        width: 90vw;
        height: 480px;
        object-fit: cover;
    }
    h4{
        font-weight: 500;
        margin-block-end: 0;
        font-size: 20px;
    }
    p,h4{
        color: $quaternary-color;
    }
    p{
        margin-block-start: 8px;
    }
    
}
.footer{
    width: 100%;
    background-color: $quaternary-color;
    color: white;
    ul{
        list-style: none;
        h4{
            margin-bottom: 19px;
            padding-top: 20px;
            font-size: 38px;
        }    
        li{
            margin-block-end: 14px;
        }   
        .footer__icons{
            padding: 15px 0 22px;
            @include flexCenter(null,null ,center);

            img{
                width: 26px;
                margin-inline-end: 32px;
            }
        }                 
    }
}

// MEDIA QUERIES of Tablet
@media (min-width:768px) {

    // Universal in this Queries
    h3{
        font-size: 40px;
    }
    p,a{
        font-size: 15px;
    }
    li{
        font-size: 15px;
    }
    .header{
        .header__nav{
            width: 85%;
            p{
                font-size: 26px;
            }
        }
        .icons{
            display: flex;
            align-items: center;
            padding-block-start: 5px;

            a{
                margin-inline-start: 21px;
            }
            .header__icons--bg{
                display: block;
            }
            .header__menu--mobile{
                display: none;
            }
            img{
                width: 29px;
            }
        }
    }
    .hero{
        .hero__main-content{
            width: 95%;
            flex-direction: row-reverse;
            justify-content: space-around;
            img{
                width: 31vw;
            }
            div{
                width: 49%;
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 15px;
                }
                a{
                    width: 154px;
                    padding: 12px;
                    align-self: self-start;
                    font-size: 15px;
                    margin-block-start: 44px;
                }
            }
        } 
    }
    .healthcare-container{
        width: 90%;
        .healthcare-container__cards-container--flex{
            .healthcare-container__cards{
                .healthcare-container__card{
                    height: 53vh;
                    padding: 0;
                }
            }
        }
    }
    .home-decoration-container{
        width: 90%;
        .home-decoration-container__cards-container--flex{
            .home-decoration-container__cards{
                .home-decoration-container__card{
                    height: 47vh;
                }
            }
        }
    }
    .about-us{
        width: 90%;
        .about-us__main-container{
            margin-block: 14vh;
            flex-direction: row;
            img:first-child{
                width: 18vw;
            }
            #lightbulb-img{
                width: 22vw;
                height: auto;
                margin-block-start: 0;
            }
        }
    }
    .galery-style{
        .galery-style__imgs-container{
            flex-direction: row;
            justify-content: space-around;
            gap: 0;
            img{
                width: 23vw;
            }
        }
    }
    .location{
        img{
            width: 85vw;
            height: 32vh;
        }
        h4{
            font-size: 28px;
        }
    }
    .footer{
        ul{
            font-size: 24px;
            h4{
                font-size: 24px;
            }
            .footer__icons{
                padding: 33px 0 22px;
                justify-content: center;
                img{
                    width: 37px;
                }
            }
    
        }
    }
}


// MEdia Queries of Laptop
@media (min-width:1024px) {

    // Universal
    // h3{
    //     font-size: 50px;
    // }
    // Header
    .header{
        padding: 0 0 30px 23px;
        .header__nav{
            width: 100%;
            .header__icons--bg{
                display: block;
            }
            a{
                text-decoration: none;
            }    
            img{
                margin-inline-end: 22px;
                width: 36px;
            }
            .header__menu--mobile{
                display: none;
            }
        }
    }
    .hero{
        // display: flex;
        // flex-direction: row-reverse;
        // justify-content: space-around;
        // align-items: center;
        // padding-inline: 65px;
        // width: 90%;
        // margin-inline: auto;

        .hero__main-content{
            // display: flex;
            // flex-direction: row-reverse;
            justify-content: space-around;
            width: 100%;
            // align-items: center;
            img{
                width:40vw;
                // height: 686px;
                border-radius: 19px;
            }
            div{
                width: 52vw;
                h1{
                    margin-block-end: 30px;
                    font-size: 45px;
                }
                p{
                    margin-block: 0;
                    font-size: 25px;
                }
                a{
                    margin: 56px 0 131px;
                    width: 261px;
                    padding: 16px 0;
                    font-size: 23px;
                    align-self: self-start;
                }            
            }
        }
    }
    .healthcare-container{
        h3{
        margin-block-end: 60px;
        }
        .healthcare-container__cards-container--flex{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            overscroll-behavior-y:none;
            column-gap: 123px;
            row-gap: 62px;
            .healthcare-container__cards{
                width: 22vw;

                .healthcare-container__card{
                    width: auto;
                }
            }
        }
    }

    .home-decoration-container{
        h3{
            margin: 73px 0 64px;
        }
    
        .home-decoration-container__cards-container--flex{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 124px;
            row-gap: 62px;
            .home-decoration-container__cards{
                width: 22vw;
                .home-decoration-container__card{
                    height: 53vh;
                    width: auto;
                }
                }
        }
    }    

    .about-us{
        h3{
            margin-block-start: 91px;
        }    
        .about-us__main-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            img,
            p,
            #lightbulb-img{
                    margin: 0;

            }
            p{
                width: auto;
                font-size: 22px;
            }
            #lightbulb-img{
                margin-inline-start: 206px;
            }
        }
    }
    .galery-style{
        h3{
            margin: 231px 0 61px;
        }
        .galery-style__imgs-container{
            display: flex;
            flex-direction: row;
            img{
                width: 265px;
                border-radius: 19px;
            }    
        }
    }
    .location{
        img{
            width: 92vw;
            height: 55vh;
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        ul{
            h4{
                font-size: 38px;
            }
            li{
                font-size: 22px;
            }
        }
        .footer__icons{
            align-self: center;
            margin-inline-start: 34vw;

            img{
                width: 51vw;
            }
        }    
    }
}


@media (min-width: 1440px) {
    .location{
        img{
            width: 30vw;
        }
    }
}